/*** LTR websites ***/
@font-face {
  font-family: "font-L";
  src: url("../fonts/SuisseIntl-Light.otf");
}
@font-face {
  font-family: "font-R";
  src: url("../fonts/SuisseIntl-Regular.otf");
}
@font-face {
  font-family: "font-M";
  src: url("../fonts/SuisseIntl-Medium.ttf");
}
@font-face {
  font-family: "font-SB";
  src: url("../fonts/SuisseIntl-SemiBold.ttf");
}
@font-face {
  font-family: "font-B";
  src: url("../fonts/SuisseIntl-Bold.otf");
}
body {
  font-family: "Suisse-R";
  direction: ltr;
  text-align: left;
}

html[dir=rtl] body {
  font-family: "Suisse-R";
}

*,
*:focus,
*:active,
button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.text-left {
  text-align: right !important;
}

.text-right {
  text-align: left !important;
}

.float-left {
  float: right !important;
}

.float-right {
  float: left !important;
}

body, html {
  overflow-x: hidden;
}

a {
  text-decoration: unset;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

body {
  background: red;
}