@font-face {
  font-family: "font-black";
  src: url("../fonts/Aktiv\ Grotesk\ Black.otf");
}

@font-face {
  font-family: "font-Bold";
  src: url("../fonts/Aktiv\ Grotesk\ Bold.otf");
}

@font-face {
  font-family: "font-hair";
  src: url("../fonts/Aktiv\ Grotesk\ Hair.otf");
}
@font-face {
  font-family: "font-medium";
  src: url("../fonts/Aktiv\ Grotesk\ Medium.otf");
}
@font-face {
  font-family: "font-regular";
  src: url("../fonts/Aktiv\ Grotesk\ Regular.otf");
}

@font-face {
  font-family: "font-SimiBold";
  src: url("../fonts/Aktiv\ Grotesk\ SemiBold.otf");
}
@font-face {
  font-family: "font-thin";
  src: url("../fonts/Aktiv\ Grotesk\ Thin.otf");
}
@font-face {
  font-family: "font-xbold";
  src: url("../fonts/Aktiv\ Grotesk\ XBold.otf");
}
