
@font-face {
    font-family: "font-Reg";
    // src: url("../fonts/IBMPlexSansArabic-Regular.ttf");
    src: url("../fonts/AktivGroteskRegular.otf");
  }

  @font-face {
    font-family: "font-Bold";
    // src: url("../fonts/IBMPlexSansArabic-Bold.ttf");
    src: url("../fonts/AktivGroteskBold.otf");
  }

  @font-face {
    font-family: "font-Med";
    // src: url("../fonts/IBMPlexSansArabic-Medium.ttf");
    src: url("../fonts/AktivGroteskMedium.otf");
  }
  // @font-face {
  //   font-family: "font-Li";
  //   // src: url("../fonts/IBMPlexSansArabic-Light.ttf");
  //   src: url("../fonts/Elm-Light.woff2");
  // }
  // @font-face {
  //   font-family: "font-XLi";
  //   // src: url("../fonts/IBMPlexSansArabic-ExtraLight.ttf");
  //   src: url("../fonts/Elm-Light.woff2");
  // }

  // @font-face {
  //   font-family: "font-SimiBold";
  //   // src: url("../fonts/IBMPlexSansArabic-SemiBold.ttf");
  //   src: url("../fonts/Elm-Medium.woff2");
  // }