$font-ar: "font-regular";
$font-en: "font-regular";
$font-black: "font-black";
$font-Bold: "font-Bold";
$font-hair: "font-hair";
$font-medium: "font-medium";
$font-simibold: "font-SimiBold";
$font-thin: "font-thin";
$font-xbold: "font-xbold";

$font-path: "../fonts/";
$img-path: "../images/";

// colors

$white: #ffffff;
$dark: #000000;
$defult-color: #1e285f;
$seconary-color: #2a3886;
$moov-color: #3b4890;
$moov-color2: #30396c;
$purple-color: #4e61c8;
$lavender-color: #4e61c8;
$lilac-color: #5d68a3;
$primary-color: #1f80ff;
$light-success-color: #bdcd5c;
$success-color: #aabc3a;
$brown: #6d5b46;
$brown2: #a58e74;
$brown3: #b8a591;
$Beige1-color: #e0d7c6;
$Beige2-color: #f2eee7;
$text-color: #8e93af;
$bg-profile-card: #343d6f;
$bg-left-card: #35428c;
$bg-day: #5769cb;
$bg-dropdown-nav: #eaecf8;

$sidenav-width: 250px;
$sidenav-collapsed: 80px;
$transition: 0.3s ease;

$theme-colors: (
  // "primary": $primary-color,
  // "warning": $orange-color,
  // "success": $green-color,
  // "gray": $gray-color,
  // "red": $red-color
);

//more

$raduis-normal: 8px;
