$font-ar: "font-regular";
$font-en: "font-regular";

$font-path: "../fonts/";
$img-path: "../images/";

// colors

$white: #FFFFFF;
$dark: #000000;
$defult-color: #1E285F;
$seconary-color: #2A3886;
$moov-color: #3B4890;
$moov-color2: #30396C;
$purple-color: #4E61C8;
$lavender-color: #4E61C8;
$lilac-color: #5D68A3;
$primary-color: #1F80FF;
$light-success-color: #BDCD5C;
$success-color: #AABC3A;
$brown: #6D5B46;
$brown2: #A58E74;
$brown3: #B8A591;
$Beige1-color: #E0D7C6;
$Beige2-color: #F2EEE7;
$text-color: #8e93af;
$bg-profile-card:#343D6F;
$bg-left-card:#35428C;
$bg-day:#5769CB;
$bg-dropdown-nav:#EAECF8;

$sidenav-width: 250px;
$sidenav-collapsed: 80px;
$transition: 0.3s ease;



$theme-colors: (
  // "primary": $primary-color,
  // "warning": $orange-color,
  // "success": $green-color,
  // "gray": $gray-color,
  // "red": $red-color
);





//more 

$raduis-normal : 8px;